.container {
    background-color: white;
    padding: 1.6rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.5rem 0.8rem -0.2rem rgba(0, 0, 0, 0.8);
}

ul {
    color: black;
}

p {
    color: black;
}
