.TabButton {
    background-color: white;
    border: none;
    border-radius: 0.2rem;
    margin: 0.5rem;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.generalButton {
    background-color: #3c425c;
    margin: 0.5rem;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 0.5rem;
    font-weight: 600;
    padding: 0.5rem 1.6rem;
    border-radius: 2rem;
    font-family: verdana;
    box-shadow: 0 0.1rem 0.4rem -0.2rem rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
}

/** ::hover pseudo element */
.generalButton:hover {
    background-color: #2b3045;
}

/** ::active pseudo element */
.generalButton:active {
    transform: scale(0.95);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
